body{
    margin: 0;
    padding: 0;
    border-right:solid #589AC0 4px;
    border-bottom: solid #589AC0 4px;
    border-left: solid #589AC0 4px;
}
body header{
    background: #92BFBF;
    height: 60px;
}
#parte_superior{
    display: flex;
    justify-content:space-between;
    color: black;
}
#parte_superior h1{
    margin-top: 8px;
}
#hojadevida a{
    text-decoration: none;
    color: #589AC0;
    font-size: 85%;
}
#vinculos a{
    text-decoration: none;
    color: black;
    font-size: 85%;
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-top: auto;
}

.dropbtn {
    background-color: #92BFBF ;
    color: black;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: max-content;
    
}

.dropdown-content button {
    color: black;
    text-decoration: none;
    display: block;
    background-color: #fff;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #92BFBF;
}
.dropdownResponsive{
        display: none;
}

#centro h1{
    font-size: 48px;
    margin: auto;
}
.nombre{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    background-color: white;
    height: 150px;
    align-items: center;
    border: solid 2px #92BFBF;
    border-radius: 2px;
    width: auto;
}
.nombre h2{
    text-align: center;
}
.nombre p{
    font-family: cursive;
    font-size: 90%;
    text-align: center;
    width: 120%
}
#foto{
    display: contents;
}

#foto img{
    max-width: 12%;
    max-height: 98%;
    margin-top: 3px;
    margin-left: 6%;
    border-radius: 32%;
}
#nombre_titulo{
    margin-right: 10%;
    max-width: 24%;
}
#lenguaje{
    display: inline-flex;
}

#tamano_boton {
    width: 48px;
    height: 48px;
    margin-top: 6px;
    background-color: #92BFBF ;
    border: none;
}
#tamano_boton img {
    max-width: 100%;
    max-height: 100%;
}
.contenido{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 230px;
}
#contenidoi p{
    font-family: cursive;
    background-color: #92BFBF ;
    max-width: 50%;
    max-height: 100%;
    font-size: 116%;
    text-align: center;
    height: fit-content;
    width: 36%;
}
#contenidod p{
    font-family: cursive;
    background-color: #92BFBF ;
    max-width: 50%;
    max-height: 90%;
    font-size: 116%;
    text-align: center;
    height: fit-content;
    width: 36%;

}
#contenidoi img{
    max-width:50%;
    max-height:90%
}

#redes{
    background-color: #92BFBF ;
    height: 20%;
}
@media (max-width:500px) {
    body{
        margin: 0;
        padding: 0;
        border-right:solid #589AC0 4px;
        border-bottom: solid #589AC0 4px;
        border-left: solid #589AC0 4px;
    }
    body header{
        background: #92BFBF;
        height: 60px;
    }
    .dropdownResponsive {
        display: inline-block;
        position: relative;
    }
    
    .dropbtnResponsive {
        background-color: #92BFBF;
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: 12px;
    }
    
    .dropdown-contentResponsive {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: auto;
        font-size: 20px;
    }
    
    .dropdown-contentResponsive button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: #fff;
        border: none;
        width: 70%;
        text-align: left;
    }
    
    .dropdown-contentResponsive button:hover {
        background-color: #ddd;
    }
    
    .dropdownResponsive:hover .dropdown-contentResponsive {
        display: block;
    }
    
    .dropdownResponsive:hover .dropbtnResponsive {
        background-color: #2980b9;
    }
    #lenguaje{
        display: none;
    }
    #centro h1{
        font-size: 28px;
        margin-top: 16px;
    }
    .dropbtn{
        font-size: 12px;
    }
    #tamano_boton {
        width: 100%;
        height: 50px;
        margin-top: auto;
        background-color: #92BFBF ;
        border: none;
    }
    .nombre p{
        width: 100%;
        font-size: 70%;
        text-align: center;
        margin-left: 24px;
        font-family: cursive;
    }
    .nombre h2{
        font-size: 20px;
        margin-left: 20px;
        text-align: center;
    }
    #foto img {
        max-width: 24%;
        max-height: 98%;
        margin-top: 3px;
        margin-left: 16px;
        border-radius: 32%;}
    .contenido{
        display: flex;
        justify-content: space-around;
        background-color: white;
        height: fit-content;
    }
    .contenido img{
        margin-top: 13%;
        height: fit-content;
        width: 45%;
    }
    #contenidoi p{
        height: fit-content;
        width: 50%;
        font-size: 100%;
        text-align: center; 
        margin-top: 13%;
        font-family: cursive;
    }
    #contenidod p{
        height: fit-content;
        width: 50%;
        font-size: 100%;
        text-align: center; 
        margin-top: 13%;
        font-family: cursive;
    }
}